.mainBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 50%;
  margin-top: 25px;
}
.daysBlock {
  display: flex;
  gap: 30px;
  border: 1px solid gray;
  margin-top: 30px;
}
.daysBlockActive {
  box-shadow: 3px 3px 3px 3px grey;
}
.hoursBlock {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
  position: relative;
}
.container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
